.navbar-nav {
    text-align: center;
}

.featured-img {
    height: 250px;
    text-align: center;
    width: 100%;
       
}

.headline {
    align-content: center;
    text-align: center;
}
.featured {
    text-align: center;
}

.anchors {
    font-size: 12px;
     float: right;
}

#about-profile{
    float: left;
    margin: 15px;
    border: 3px; 
    border-style: solid;
    margin-top: 0px;
}
.about-me {
    font-size: 15px;
    vertical-align: middle; 
    
}

.resume {
    font-size: 15px;
}

.fix{
    position: fixed;
    background-color: steelblue;
    
}

.blue {
    color: deepskyblue;
}